<p>Add new server or Blueprint</p>
<p #sayHiListener (sayHiEvent)="onSayHiListener($event)"></p>
<label>Server Name</label>
<input type="text" [(ngModel)]="newServerName">
<label>Server Content</label>
<input type="text" [(ngModel)]="newServerContent">
<br>
<button
  class="btn btn-primary"
  (click)="onAddServer()">Add Server</button>
<button
  class="btn btn-primary"
  (click)="onAddBlueprint()">Add Blueprint</button>
<button
        class="btn btn-primary"
        (click)="onRemoveServer()">Remove Server</button>
<button
        class="btn btn-primary"
        (click)="onRemoveBlueprint()">Remove Blueprint</button>

<hr><hr>

<!--<div class="template" *appUnless="false">-->
    <!--<p>Paragraph inside *</p>-->
<!--</div>-->

<!-- Angular template that allows to use block inside except himself "ng-template" -->
<ng-template [appUnless]="false">
    <div class="template">
        <p>Paragraph inside NG-TEMPLATE</p>
    </div>
</ng-template>

<hr><hr>

<div [ngSwitch]="receivedValue">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="20">Value is 20</p>
    <p *ngSwitchDefault>Value is unknown</p>
</div>

<hr><hr>
<p appBasicHighlight>Paragraph which used custom BasicHighLight directive</p>
<p [appHighlight]="'red'" defaultColor="yellow">Paragraph which used custom HighLight directive</p>
<hr><hr>