<p>Add new server or Blueprint</p>
<p #sayHiListener (sayHiEvent)="onSayHiListener($event)"></p>
<label>Server Name</label>
<input type="text" [(ngModel)]="newServerName">
<label>Server Content</label>
<input type="text" [(ngModel)]="newServerContent">
<br>
<button
  class="btn btn-primary"
  (click)="onAddServer()">Add Server</button>
<button
  class="btn btn-primary"
  (click)="onAddBlueprint()">Add Blueprint</button>
<button
        class="btn btn-primary"
        (click)="onRemoveServer()">Remove Server</button>
<button
        class="btn btn-primary"
        (click)="onRemoveBlueprint()">Remove Blueprint</button>