<h4>{{recipe.name}}</h4>
<h5>{{recipe.desc}}</h5>
<h6 *ngFor="let item of recipe.ingredients">
    Ingredient: {{item.name}}, Amount: {{item.amount}}
</h6>
<div class="btn-group" role="group" appDropdown>
    <button
            id="btnGroupDrop"
            type="button"
            class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >
        Manage Recipe
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
        <a class="dropdown-item" (click)="onAddToShoppingList()">To ShoppingList</a>
        <a class="dropdown-item">Another Link</a>
    </div>
</div>

