<div class="row">
  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-12">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: +server.id === 3 ? '1' : '0', customParam: 'string'}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-12">
    <router-outlet></router-outlet>

    <!--<hr>-->
    <!--<button class="btn btn-danger" (click)="goToServers()">Servers</button>-->
  </div>
</div>

