<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            <ul>
                <li><a routerLinkActive="active" href="#" routerLink="/recipes">Recipe</a></li>
                <li><a routerLinkActive="active" href="#" routerLink="/shopping-list">Shopping List</a></li>
            </ul>
        </div>
        <div class="col-auto">
            <div class="dropdown" appDropdown>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="mainDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="mainDropdown">
                    <a class="dropdown-item">Action</a>
                    <a class="dropdown-item">Another action</a>
                    <a class="dropdown-item">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>

</div>