<div class="container">
	<div class="row">
		<div class="col-12">
			<br>
			<h3>Server Statuses:</h3>
		</div>
		<div class="col-12">
			<ul class="list-group">
				<li
					class="list-group-item d-flex justify-content-between"
					*ngFor="let server of servers"
					[ngClass]="getStatusClasses(server)">
					<strong>{{server.name}}</strong> |
					{{server.instanceType | uppercase}} |
					{{server.started | date}}
					<span class="badge badge-info badge-pill">{{server.status}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>