<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="row">
    <div class="form-group col-4">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        ngModel
        required>
    </div>
    <div class="form-group col-2">
      <label for="amount">Amount</label>
      <input
        type="number"
        id="amount"
        class="form-control"
        name="amount"
        ngModel
        required
        pattern="^[1-9]+[0-9]*$">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add'}}</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onDelete()"
        *ngIf="editMode">Delete</button>
      <button
        type="button"
        class="btn btn-info"
        (click)="onClear()">Clear</button>
    </div>
  </div>
</form>